body,
html {
    height: 100%;
    width: 100%;
    font-size: 25px;
}
*{
    margin: 0;
    padding: 0;
}
/* table{
    border: solid  2px;
}

table tr th{
    border: solid  2px;
} */

ul{
    display: flex;
    background: cyan;
}
nav li{
    list-style: none;
    padding: 0 23px;
}