body,
html {
    height: 100%;
    width: 100%;
    font-size: 25px;
    /* margin: auto; */
    padding: auto;
}
*{
    margin: 0;
    padding: 0;
}
/* table{
    border: solid  2px;
}

table tr th{
    border: solid  2px;
} */

ul{
    display: flex;
    background: cyan;
}
nav li{
    list-style: none;
    padding: 0 23px;
}

.yellow{
    background: yellow;
    color: white;
}

.red{
    background: red;
    color: white;
}

.text-dark{
    color: black;
}

#det{
    width: 40%;
    height: 30%;
    margin: auto;
    border: 2px solid red;
    background: yellowgreen;
    text-align: center;
}
#det h1{
    color: aqua;
}

#det p{
    color: brown;
}


#frd{
    color: green;
}